<!-- back header section -->
<div id="blackHeader">
    <div>
        <i style="color: lightgray;" class="far fa-envelope"></i>
        <span>rightsolution@gmail.com</span>
    </div>
    <div>
        <i style="color: lightgray;" class="fas fa-phone"></i>
        <span>+92 3423597786</span>
    </div>
    <div class="socialMeidaIcons">
        <ul>
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</div>



<!-- navigation header -->
<div id="header">
    <!-- logo section -->
    <div id="logoSection">
        <div class="logoImage">
            <img src="/public/images/logo/CENTRE NEW LOGO PNG 2.png">
        </div>
        <!-- <div class="logoName">
            <span>Right Solution</span>
        </div> -->
    </div>

    <!-- nav section -->
    <div id="navgationSection">
        <span class="navigationCloseBtn">&times;</span>
        <div class="responsiveLogo">
            <img src="/public/images/logo/CENTRE NEW LOGO PNG 2.png">
        </div>
        <ul>

            <li class="navLinks">
                <a href="/">Home</a>
            </li>

            <li class="navLinks">
                <a href="facilities">facilites</a>
            </li>

            <li class="navLinks dropDownAble">
                <a>Admission</a>
                <div class="dropDown">
                    <ul>
                        <li>
                            <a href="#">Enrollment</a>
                        </li>
                        <li>
                            <a href="#">School</a>
                        </li>
                        <li>
                            <a href="#">Coacing</a>
                        </li>
                        <li>
                            <a href="#">Centre</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="navLinks">
                <a href="gallary">Gallary</a>
            </li>
            <li class="navLinks">
                <a href="about">About</a>
            </li>
           
        </ul>

    </div>


    <a href="/signup" class="signupBtn">
        <button>Register</button>
    </a>

    <div class="responsiveBtn">
        <button class="responsiveNavBtn" id="responsiveMenuBtn">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

</div>
