<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right Solution</title>
    <link rel="icon" href="/public/images/logo/SCHOOL LOGO.png">
    <!-- font awesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- bootstrap CDN LINK -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- owl carousel setting -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- slick slider css -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!-- css files -->
    <link rel="stylesheet" href="/public/css/index.css">



    <!-- Jquery css file -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- jquery files -->
    <script src="/public/js/jquery-3.6.0.min.js"></script>


</head>

<body id="body">
    <!-- header section -->
    <%- include("partials/header.ejs") %>

    <!-- main hero sectin -->
    <div class="secondheoSection" style="background-image: url('/public/images/B3.jpg');">
        <div class="secondheoSectionContent">
            <h5>Brigth Clasrooms</h5>
            <span>Home / About</span>
        </div>
    </div>


    <!-- content Section -->
    <section style="margin: 50px 0px">

        <div class="mainSections container">

            <!-- side bar sections -->
            <div class="sectionBox sidebarSection">

                <div class="facilitesSections">
                    <ul>
                        <a href="#">
                            <li class="facilitesItem activeFacilities"><span>Bright Classrooms</span> <span><i
                                        class="fas fa-long-arrow-alt-right"></i></span></li>
                        </a>
                        <a href="#">
                            <li class="facilitesItem"><span>Laboratories</span> <span><i
                                        class="fas fa-long-arrow-alt-right"></i></span></li>
                        </a>
                        <a href="#">
                            <li class="facilitesItem"><span>Meeting Hall</span> <span><i
                                        class="fas fa-long-arrow-alt-right"></i></span></li>
                        </a>
                        <a href="#">
                            <li class="facilitesItem"><span>Sports Club</span> <span><i
                                        class="fas fa-long-arrow-alt-right"></i></span></li>
                        </a>
                        <a href="#">
                            <li class="facilitesItem"><span>Play Grouds</span> <span><i
                                        class="fas fa-long-arrow-alt-right"></i></span></li>
                        </a>
                    </ul>
                </div>


                <!-- rescent programs -->
                <div class="monthlyTestResultBox ">
                    <h3 class="montlyTestTitle">Top Results</h3>
                    <div class="monltyTestResultItem">
                        <div class="monthlyTestResultImg">
                            <img
                                src="https://www.kindpng.com/picc/m/20-208025_student-png-boy-in-college-transparent-png.png">
                        </div>
                        <div class="monthlyTestResultContent">
                            <h4 class="monthlyTestName">Computer Course</h4>
                            <span class="monthlyTestGrade">1st Position</span>
                            <span class="montlyTestMarks"> Obtian Marks: 100 / 90</span>
                        </div>
                    </div>

                    <div class="monltyTestResultItem">
                        <div class="monthlyTestResultImg">
                            <img
                                src="https://www.kindpng.com/picc/m/20-208025_student-png-boy-in-college-transparent-png.png">
                        </div>
                        <div class="monthlyTestResultContent">
                            <h4 class="monthlyTestName">7th Class</h4>
                            <span class="monthlyTestGrade">1st Position</span>
                            <span class="montlyTestMarks"> Obtian Marks: 100 / 90</span>
                        </div>
                    </div>

                    <div class="monltyTestResultItem">
                        <div class="monthlyTestResultImg">
                            <img
                                src="https://www.kindpng.com/picc/m/20-208025_student-png-boy-in-college-transparent-png.png">
                        </div>
                        <div class="monthlyTestResultContent">
                            <h4 class="monthlyTestName">5th Course</h4>
                            <span class="monthlyTestGrade">1st Position</span>
                            <span class="montlyTestMarks"> Obtian Marks: 100 / 90</span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="sectionBox mainBodySections">

                <div class="MainBodyImgContainer">
                    <img width="100%" style="border-radius: 10px;"
                        src="https://35zdx72gxff41x10fm1rg5xo-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/bright-class-room-img-750x370.jpg">
                </div>

                <div class="mainBodyContent">
                    <h3 class="mainBodyHeading">Bright Classrooms</h3>
                    <p class="mainBodyPeragraph">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi maiores repellendus enim vel
                        excepturi, quidem magnam minima nihil dolore beatae voluptatem odit aliquam iusto optio
                        recusandae eius eligendi nobis labore?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, suscipit. Nulla et unde
                        excepturi eum ex fugit fuga quos, optio similique nostrum libero quas at quam placeat ipsam
                        nobis debitis.
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, ratione nisi. Nesciunt officia
                        aut officiis asperiores quasi aliquid. Molestias quasi repellat asperiores doloribus quidem nemo
                        odio? Iusto molestias ducimus sequi!
                    </p>



                    <div class="classRoomTypesSection">
                        <div>
                            <img style="border-radius: 10px;"
                                src="https://35zdx72gxff41x10fm1rg5xo-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/bright-class-room-img2.jpg">
                            <h3>Multi-Media Rooms</h3>
                        </div>
                        <div>
                            <img style="border-radius: 10px;"
                                src="https://35zdx72gxff41x10fm1rg5xo-wpengine.netdna-ssl.com/wp-content/uploads/2019/09/bright-class-room-img2.jpg">
                            <h3>Multi-Media Rooms</h3>
                        </div>

                    </div>

                    <p style="text-align: justify;">
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Sed fringilla mauris sit amet
                        nibh. Donec sodales sagittis magna. Donec quam felis, ultricies nec, pellentesque eu. Sed
                        fringilla mauris sit amet nibh. Donec sodales sagittis magna. Donec quam felis, ultricies nec,
                        pellentesque eu. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Donec quam
                        felis, ultricies nec, pellentesque eu.<br><br>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Sed fringilla mauris sit amet
                        nibh. Donec sodales sagittis magna. Donec quam felis, ultricies nec, pellentesque eu. Sed
                        fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                    </p>


                    <div class="weOffersBoxItem" style="width: 100%; margin-top: 40px;">
                        <h2 class="sectionTitle" style="text-align: center;">Frequently Asked Questions?</h2>
                        <div>
                            <div>
                                <div class="question">
                                    <span>How and when do I register for courses?</span>
                                    <span class="addOrRemove">+</span>
                                </div>
                                <div class="answer">
                                    <span>Cum sociis natoque penatibus et magnis dis parturient montes. nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec.</span>
                                </div>
                            </div>
                            <div>
                                <div class="question">
                                    <span>What are the safety standards?</span>
                                    <span class="addOrRemove">+</span>
                                </div>
                                <div class="answer">
                                    <span>Cum sociis natoque penatibus et magnis dis parturient montes. nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec.</span>
                                </div>
                            </div>
                            <div>
                                <div class="question">
                                    <span>How and when do I register for courses?</span>
                                    <span class="addOrRemove">+</span>
                                </div>
                                <div class="answer">
                                    <span>Cum sociis natoque penatibus et magnis dis parturient montes. nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec.</span>
                                </div>
                            </div>
                            <div>
                                <div class="question">
                                    <span>How and when do I register for courses?</span>
                                    <span class="addOrRemove">+</span>
                                </div>
                                <div class="answer">
                                    <span>Cum sociis natoque penatibus et magnis dis parturient montes. nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec.</span>
                                </div>
                            </div>
                            <div>
                                <div class="question">
                                    <span>How and when do I register for courses?</span>
                                    <span class="addOrRemove">+</span>
                                </div>
                                <div class="answer">
                                    <span>Cum sociis natoque penatibus et magnis dis parturient montes. nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec.</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>



    <div class="scrollTopBtnSection">
        <img id="scrollTop" class="scrollTopImg" src="https://35zdx72gxff41x10fm1rg5xo-wpengine.netdna-ssl.com/wp-content/themes/pallikoodam/images/totop.png">
    </div>

    <!-- footer section -->
    <section class="footerSection">
        <footer id="footer">
            <!-- contacts -->
            <div class="contactsDetials">
                <img src="/public/images/logo/CENTRE NEW LOGO PNG 2.png">
                <div class="footerAddress">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>

                        <span>
                            Address: Near Eye Hospital Umerkot
                        </span>
                    </div>
                    <div>
                        <i class="far fa-envelope"></i>

                        <span>
                            Email: rightsolution@gmail.com
                        </span>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>

                        <span>
                            +923423597787
                        </span>
                    </div>
                </div>

                <!-- <div class="footerSocialMediaIcons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                </div> -->
            </div>

            <!-- pages -->
            <div class="pagesDetails">
                <h3>Useful Links</h3>
                <ul>
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Facilites
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About us
                        </a>
                    </li>
                </ul>
            </div>

            <div class="pagesDetails">
                <h3>Categories</h3>
                <ul>
                    <li>
                        <a href="#">
                            School
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Coaching
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Computer Centre
                        </a>
                    </li>

                </ul>
            </div>



            <!-- rescentPost -->
            <div class="subsciptionBox">

                <h3>Subscription</h3>
                <p></p>Don't miss to subscribe to our news feed, <br>Get the latest updates from us!</p>
                <div class="subscription">
                    <input type="email" placeholder="rightsolution@gmail.com">
                    <button class="subsBtn" id="subscribeBtn"><i class="far fa-envelope"></i> Subscribe</button>
                </div>
                <div class="footerSocialMediaIcons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-google-plus-square"></i>
                </div>

            </div>

        </footer>
        <p class="copyright">
            © 2021 Right Solution – All Rights Reserved
        </p>
    </section>







    <!-- jquery file -->
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <!-- Slick slider JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


    <script src="/public/js/index.js"></script>
    <script>
        $(document).ready(function () {

            var question = document.getElementsByClassName('question');
            question = Array.from(question)
            question.forEach(function (elm, index) {
                elm.addEventListener('click', function () {

                    $('.answer').eq(index).toggle("fast")
                    $('.question').eq(index).toggleClass('qustionBorderClass')
                    $('.question').eq(index).toggleClass('questionActive')

                })
            });

        })
    </script>


</body>



</html>